{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-sm">
        <div class="row pt-3">
            <p class="tagline-text text-center">
                Free UK delivery on all plans... 
                Free UK delivery on orders over £30... 
                Add a review to get free delivery on your next order...
            <p>
        </div>
        <div class="row py-3">
            <div class="col-6 text-center">
                <img src="https://via.placeholder.com/200" 
                    alt="Our House Is Your House Coffee Packet" class="w-100">
                <h6>Our House Is Your House</h6>
                <i id="star-1" class="fas fa-star"></i>               
                <i id="star-2" class="fas fa-star"></i>
                <i id="star-3" class="fas fa-star"></i>
                <i id="star-4" class="fas fa-star"></i>
                <i id="star-5" class="fas fa-star"></i>
                <p class="my-0 pb-1">£7.50</p>
                <a href="" class="btn-yellowgreen btn btn-warning w-100">Buy Now</a>
            </div>
            <div class="col-6 text-center">
                <img src="https://via.placeholder.com/200"
                    alt="Jump Leads Coffee Packet" class="w-100">
                <h6>Jump Leads</h6>
                <i id="star-1" class="fas fa-star"></i>               
                <i id="star-2" class="fas fa-star"></i>
                <i id="star-3" class="fas fa-star"></i>
                <i id="star-4" class="fas fa-star"></i>
                <i id="star-5" class="fas fa-star"></i>
                <p class="my-0 pb-1">£7.50</p>
                <a href="" class="btn-yellowgreen btn btn-warning w-100">Buy Now</a>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-6 text-center">
                <img src="https://via.placeholder.com/200"
                    alt="Morning Glory Coffee Packet"  class="w-100">
                <h6>Morning Glory</h6>
                <i id="star-1" class="fas fa-star"></i>               
                <i id="star-2" class="fas fa-star"></i>
                <i id="star-3" class="fas fa-star"></i>
                <i id="star-4" class="fas fa-star"></i>
                <i id="star-5" class="fas fa-star"></i>
                <p class="my-0 pb-1">£7.50</p>
                <a href="" class="btn-yellowgreen btn btn-warning w-100">Buy Now</a>
            </div>
            <div class="col-6 text-center">
                <img src="https://via.placeholder.com/200"
                    alt="Unleaded Coffee Packet"  class="w-100">
                <h6>Unleaded</h6>
                <i id="star-1" class="fas fa-star"></i>               
                <i id="star-2" class="fas fa-star"></i>
                <i id="star-3" class="fas fa-star"></i>
                <i id="star-4" class="fas fa-star"></i>
                <i id="star-5" class="fas fa-star"></i>
                <p class="my-0 pb-1">£7.50</p>
                <a href="" class="btn-yellowgreen btn btn-warning w-100">Buy Now</a>
            </div>
        </div>
        <div class="row py-3">
            <p class="tagline-text text-center">
                perkulater is a small batch, artisan coffee roaster based in South London. 
                We are committed to producing the highest quality coffee from the best quality beans. 
                All of our beans are ethically sourced direct from the growers.
            </p>
        </div>
    </div>
{% endblock %}<p class="my-0 pb-1">£7.50</p>