{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid container-tagline bg-green">
        <div class="row pt-3">
            <h5 class="tagline-text text-center fg-black-2">
                Free UK delivery on all plans     
                |   Free UK delivery on orders over £30  
                |   Add a review to get free delivery on your next order 
            <h5>
        </div>
    </div>
    <div class="container-sm pt-2">
        <div class="row py-3">
            <div class="col-6 text-center">
                <div class="bg-black-2 product-container">
                    <img src="https://via.placeholder.com/200" 
                        alt="Our House Is Your House Coffee Packet" class="w-100 p-3 opacity-100">
                </div>
                <h6 class="product-text pt-2">Our House Is Your House</h6>
                <i id="star-1" class="fas fa-star fg-yellow"></i>               
                <i id="star-2" class="fas fa-star fg-yellow"></i>
                <i id="star-3" class="fas fa-star fg-yellow"></i>
                <i id="star-4" class="fas fa-star fg-yellow"></i>
                <i id="star-5" class="fas fa-star fg-yellow"></i>
                <p class="my-0 pb-1 price-text">£7.50</p>
                <div class="row pb-4 px-3">
                    <div class="col-2 d-none d-md-block"></div>
                    <div class="col-6 col-md-4">
                        <a href="" class="btn btn-light rounded-pill d-sm-block d-md-none btn-white w-100">Buy</a>
                        <a href="" class="btn btn-light rounded-pill btn-lg d-none d-md-block btn-white w-100">Buy</a>
                    </div>
                    <div class="col-6 col-md-4">
                        <a href="" class="btn btn-light rounded-pill d-sm-block d-md-none btn-white w-100">Review</a>
                        <a href="" class="btn btn-light rounded-pill btn-lg d-none d-md-block btn-white w-100">Review</a>
                    </div>
                    <div class="col-2 d-none d-md-block"></div>
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="bg-black-2 product-container">
                    <img src="https://via.placeholder.com/200" 
                    alt="Jump Leads Coffee Packet" class="w-100 p-3 opacity-100">
                </div>
                <h6 class="product-text pt-2">Jump Leads</h6>
                <i id="star-1" class="fas fa-star fg-yellow"></i>               
                <i id="star-2" class="fas fa-star fg-yellow"></i>
                <i id="star-3" class="fas fa-star fg-yellow"></i>
                <i id="star-4" class="fas fa-star fg-yellow"></i>
                <i id="star-5" class="fas fa-star"></i>
                <p class="my-0 pb-1 price-text">£7.50</p>
                <div class="row pb-4 px-3">
                    <div class="col-2 d-none d-md-block"></div>
                    <div class="col-6 col-md-4">
                        <a href="" class="btn btn-light rounded-pill d-sm-block d-md-none btn-white w-100">Buy</a>
                        <a href="" class="btn btn-light rounded-pill btn-lg d-none d-md-block btn-white w-100">Buy</a>
                    </div>
                    <div class="col-6 col-md-4">
                        <a href="" class="btn btn-light rounded-pill d-sm-block d-md-none btn-white w-100">Review</a>
                        <a href="" class="btn btn-light rounded-pill btn-lg d-none d-md-block btn-white w-100">Review</a>
                    </div>
                    <div class="col-2 d-none d-md-block"></div>
                </div>
            </div>
        </div>
        <div class="divider-thin">
            <hr>
        </div>
        <div class="row py-3">
            <div class="col-6 text-center">
                <div class="bg-black-2 product-container">
                    <div class="image-container p-6">
                        <img src="https://via.placeholder.com/200" 
                            alt="Morning Glory Coffee Packet" class="w-100 p-3 opacity-100">
                    </div>                    
                </div>
                <h6 class="product-text pt-2">Morning Glory</h6>
                <i id="star-1" class="fas fa-star fg-yellow"></i>               
                <i id="star-2" class="fas fa-star fg-yellow"></i>
                <i id="star-3" class="fas fa-star fg-yellow"></i>
                <i id="star-4" class="fas fa-star fg-yellow"></i>
                <i id="star-5" class="fas fa-star"></i>
                <p class="my-0 pb-1 price-text">£7.50</p>
                <div class="row pb-4 px-3">
                    <div class="col-2 d-none d-md-block"></div>
                    <div class="col-6 col-md-4">
                        <a href="" class="btn btn-light rounded-pill d-sm-block d-md-none btn-white w-100">Buy</a>
                        <a href="" class="btn btn-light rounded-pill btn-lg d-none d-md-block btn-white w-100">Buy</a>
                    </div>
                    <div class="col-6 col-md-4">
                        <a href="" class="btn btn-light rounded-pill d-sm-block d-md-none btn-white w-100">Review</a>
                        <a href="" class="btn btn-light rounded-pill btn-lg d-none d-md-block btn-white w-100">Review</a>
                    </div>
                    <div class="col-2 d-none d-md-block"></div>
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="bg-black-2 product-container">
                    <img src="https://via.placeholder.com/200" 
                    alt="Unleaded Coffee Packet" class="w-100 p-3">
                </div>
                <h6 class="product-text pt-2">Unleaded</h6>
                <i id="star-1" class="fas fa-star fg-yellow"></i>               
                <i id="star-2" class="fas fa-star fg-yellow"></i>
                <i id="star-3" class="fas fa-star fg-yellow"></i>
                <i id="star-4" class="fas fa-star fg-yellow"></i>
                <i id="star-5" class="fas fa-star fg-yellow"></i>
                <p class="my-0 pb-1 price-text">£7.50</p>
                <div class="row pb-4 px-3">
                    <div class="col-2 d-none d-md-block"></div>
                    <div class="col-6 col-md-4">
                        <a href="" class="btn btn-light rounded-pill d-sm-block d-md-none btn-white w-100 px-2">Buy</a>
                        <a href="" class="btn btn-light rounded-pill btn-lg d-none d-md-block btn-white w-100 px-4">Buy</a>
                    </div>
                    <div class="col-6 col-md-4">
                        <a href="" class="btn btn-light rounded-pill d-sm-block d-md-none btn-white w-100 px-2">Review</a>
                        <a href="" class="btn btn-light rounded-pill btn-lg d-none d-md-block btn-white w-100 px-4">Review</a>
                    </div>
                    <div class="col-2 d-none d-md-block"></div>
                </div>
            </div>
        </div>
        <div class="divider-thin">
            <hr>
        </div>
        <div class="row py-3">
            <p class="tagline-text text-center">
                perkulater is a small batch, artisan coffee roaster based in South London. 
                We are committed to producing the highest quality coffee from the best quality beans. 
                All of our beans are ethically sourced direct from the growers.
            </p>
        </div>
        <div class="divider-thin">
            <hr>
        </div>
    </div>
{% endblock %}<p class="my-0 pb-1">£7.50</p>