<tr>
    <td class="product-detail-title-text text-nowrap px-3 py-1">Country</td>
    <td class="product-detail-text py-1">{{ coffee_detail.country }}</td>
</tr>
<tr>
    <td class="product-detail-title-text text-nowrap px-3 py-1">Farm</td>
    <td class="product-detail-text py-1">{{ coffee_detail.farm }}</td>
</tr>
<tr>
    <td class="product-detail-title-text text-nowrap px-3 py-1">Owner</td>
    <td class="product-detail-text py-1">{{ coffee_detail.owner }}</td>
</tr>
<tr>
    <td class="product-detail-title-text text-nowrap px-3 py-1">Variety</td>
    <td class="product-detail-text py-1">{{ coffee_detail.variety }}</td>
</tr>
<tr>
    <td class="product-detail-title-text text-nowrap px-3 py-1">Altitude</td>
    <td class="product-detail-text py-1">{{ coffee_detail.altitude }}</td>
</tr>
<tr>
    <td class="product-detail-title-text text-nowrap px-3 py-1">Town</td>
    <td class="product-detail-text py-1">{{ coffee_detail.town }}</td>
</tr>
<tr>
    <td class="product-detail-title-text text-nowrap px-3 py-1">Region</td>
    <td class="product-detail-text py-1">{{ coffee_detail.region }}</td>
</tr>