<section id="product-offers" class="container-fluid container-tagline bg-green">
    <div class="row pt-3">
            <h5 class="tagline-text text-center fg-black-2">
                {% for product_offer in product_offers %}
                    {% if forloop.last %}
                        {{ product_offer.description_full }}
                    {% else %}
                        {{ product_offer.description_full }} |
                    {% endif %}
                {% endfor %}
            <h5>
    </div>
</section>