<section id="product-summary" class="container-sm container-custom pt-2">
    {% if category %}
    <div class="row pt-3">
        <div class="col-12">
            <h6 class="title-text-medium text-center pt-2">{{ category.get_description }}</h6>
        </div>
    </div>
    {% endif %}
    <div class="row py-4">
        {% for product in products %}
        <div class="col-sm-12 col-md-6 text-center pt-4 px-5">
            <div class="px-4">
                <div class="product-container">
                    <div class="image-container px-5">
                        <a href="{% url 'product_detail' product.id %}">
                            {% if product.image and product.image_alt %}
                                <picture>
                                    <source srcset="{{ product.image.url }}" type="image/webp">
                                    <source srcset="{{ product.image_alt.url }}" type="image/jpeg"> 
                                    <img src="{{ product.image_alt.url }}" alt="{{ product.friendly_name }}" class="w-100">
                                </picture>
                            {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.friendly_name }}" class="w-100 p-1">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <h6 class="title-text-medium pt-2">{{ product.friendly_name }}</h6>
            <div id="product-rating-stars-{{ product.id }}" class="product-rating-stars"
                data-product-rating="{{ product.rating }}">
                <i id="{{ product.id }}_star-1" class="fas fa-star"></i>
                <i id="{{ product.id }}_star-2" class="fas fa-star"></i>
                <i id="{{ product.id }}_star-3" class="fas fa-star"></i>
                <i id="{{ product.id }}_star-4" class="fas fa-star"></i>
                <i id="{{ product.id }}_star-5" class="fas fa-star"></i>
            </div>           
            <p class="my-0 pb-1 text-medium text-bold">{{ product.friendly_price }}</p>
            <div class="row pb-4 px-3 py-1">
                <div class="col-3"></div>
                <div class="col-6 text-center">
                    <a href="{% url 'product_detail' product.id %}"
                        class="btn btn-lg btn-outline-light rounded-pill btn-lg btn-outline-green w-100">Buy
                    </a>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
        <!-- Divider beneath each product when displayed 1 wide  -->
        {% if not product == products.last %}
        <div class="divider-opaque d-block d-md-none">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
            {% if not product == products.last %}
                <!-- Divider beneath each row of products when displayed 2 wide  -->
                <div class="divider-opaque d-none d-md-block">
                    <hr>
                </div>
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</section>