<section id="product-summary" class="container-sm container-custom pt-2">
    {% if category %}
    <div class="row pt-3">
        <div class="col-12">
            <h6 class="product-text text-center pt-2">{{ category.get_friendly_name }}</h6>
        </div>
    </div>
    {% endif %}
    <div class="row py-4">
        {% for product in products %}
        <div class="col-sm-12 col-md-6 text-center pt-4 px-5">
            <div class="product-container">
                <div class="image-container px-5">
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-100 p-3">
                    </a>
                </div>
            </div>
            <h6 class="product-text pt-2">{{ product.name }}</h6>
            <div id="product-rating-stars" class="product-rating-stars" data-product-rating="{{ product.rating }}">
                <i id="star-1" class="fas fa-star"></i>
                <i id="star-2" class="fas fa-star"></i>
                <i id="star-3" class="fas fa-star"></i>
                <i id="star-4" class="fas fa-star"></i>
                <i id="star-5" class="fas fa-star"></i>
            </div>           
            <p class="my-0 pb-1 text-medium text-bold">{{ product.friendly_price }}</p>
            <div class="row pb-4 px-3 py-1">
                <div class="col-1"></div>
                <div class="col-5">
                    <a href="{% url 'product_detail' product.id %}"
                        class="btn btn-outline-light rounded-pill d-sm-block d-md-none w-100 btn-outline-green">Buy</a>
                    <a href="{% url 'product_detail' product.id %}"
                        class="btn btn-outline-light rounded-pill btn-lg d-none d-md-block btn-outline-green w-100">Buy</a>
                </div>
                <div class="col-5">
                    <a href=""
                        class="btn btn-lg btn-outline-light rounded-pill d-sm-block d-md-none w-100 btn-outline-green">Rate</a>
                    <a href=""
                        class="btn btn-lg btn-outline-light rounded-pill btn-lg d-none d-md-block btn-outline-green w-100">Rate</a>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
            {% if not product == products.last %}
                <div class="divider-opaque">
                    <hr>
                </div>
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</section>