{% extends "base.html" %}
{% load static %}

{% block extracss %}

{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <section id="order-contact" class="container-sm container-custom-sm pt-2">
        <div class="row py-4">
            <div class="col-12 container-dark pt-4 px-3">
                <div class="row">
                    <div class="col-12">
                        <h6 class="title-text-large text-center pt-2">Contact Us About Your Order</h6>
                    </div>
                    <div class="divider-opaque">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-3">
                        <table class="table table-dark table-borderless">
                            <tr>
                                <td class="text-large text-bold checkout-table-title py-0">Order Number</th>
                            </tr>
                            <tr>
                                <td class="text-medium px-2 py-0">{{ order.order_number }}</td>
                            </tr>
                            <tr>
                                <td class="text-large text-bold checkout-table-title px-2 py-0 pt-3">Order Date</td>
                            </tr>
                            <tr>
                                <td class="text-medium px-2 py-0">{{ order.date }}</td>
                            </tr>
                        </table>                 
                        <div class="divider-opaque">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-12 px-3">
                        <form class="form-user dark" action="{% url 'order_contact' order.order_number %}" method="POST" id="order-contact-form">
                            {% csrf_token %}
                            <fieldset class="pt-2 px-2">
                                {{ order_contact_form.message | as_crispy_field }}
                             </fieldset>    
                             <div class="row">
                                <div class="col-6 p-3">
                                    <div class="py-2">
                                        <a href="{% url 'order_history' order.order_number %}"
                                            class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                            View Order
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 p-3">
                                    <div class="py-2">
                                        <button type="submit" id="order-contact-form-submit-button"
                                            class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                            Send Message
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extrapostloadjs %}
    <!-- Link to Profiles JavaScript -->
    <script src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}
