{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <!-- Link to Products Custom CSS -->
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <!-- Link to Basket Custom CSS -->
    <link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <section id="profile" class="container-sm container-custom pt-2">
        <div class="row py-4">
            <div class="col-12 basket-container pt-4 px-3">
                <div class="row">
                    <div class="col-12">
                        <h6 class="title-text-large text-center pt-2">My Profile</h6>
                    </div>
                    <div class="divider-opaque">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 px-3 px-md-4">
                        <form class="form-user dark" action="{% url 'profile' %}" method="POST" id="profile-form">
                            {% csrf_token %}
                            <fieldset class="pt-2">
                                <legend class="field-label">Your Details</legend>
                                {{ user_form.first_name | as_crispy_field }}
                                {{ user_form.last_name | as_crispy_field }}
                                {{ user_profile_form.phone_number | as_crispy_field }}
                            </fieldset>
                            <fieldset class="pt-2">
                                <legend class="field-label">Delivery Details</legend>
                                {{ user_profile_form.address_1 | as_crispy_field }}
                                {{ user_profile_form.address_2 | as_crispy_field }}
                                {{ user_profile_form.town_or_city | as_crispy_field }}
                                {{ user_profile_form.county | as_crispy_field }}
                                {{ user_profile_form.postcode | as_crispy_field }}
                                {{ user_profile_form.country | as_crispy_field }}
                            </fieldset>
                            <div class="col-6 pt-2 pb-4">
                                <div class="text-center py-2">
                                    <button type="submit" id="profile-form-submit-button"
                                        class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                        Update Profile
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 px-3 px-md-4">
                        <h1 class="text-large text-bold">Order History</h1>
                        <div class="accordion accordion-flush pt-2" id="accordionOrders">
                            {% for order in orders %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header py-2 bg-black-3 fg-white" id="accordionOrderHeading{{ order.id }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#accordionOrder{{ order.id }}" aria-expanded="false"
                                            aria-controls="accordionOrder{{ order.id }}">
                                            {{ order.date }}
                                        </button>
                                    </h2>
                                    <div id="accordionOrder{{ order.id }}" class="accordion-collapse collapse p-2"
                                        aria-labelledby="accordionOrderHeading{{ order.id }}" data-bs-parent="#accordionOrders">
                                        <div>
                                            <a href="" class="p-2">{{ order.order_number }}</a>
                                            <p class="text-medium text-bold p-2 mb-0">Grand Total: £{{ order.grand_total }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extrapostloadjs %}
    <!-- Link to Profiles JavaScript -->
    <script src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}
