{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <!-- Link to Products Custom CSS -->
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<section id="profile" class="container-sm container-custom pt-2">
    <div class="row py-4">
        <div class="col-12 basket-container pt-4 px-3">
            <div class="row">
                <div class="col-12">
                    <h6 class="title-text-large text-center pt-2">My Profile</h6>
                </div>
                <div class="divider-opaque">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 px-3 px-md-4">
            <form class="form-user dark" action="{% url 'profile' %}" method="POST" id="profile-form">
                {% csrf_token %}
                <fieldset class="pt-2">
                    <legend class="field-label">Your Details</legend>
                    {{ user_form.first_name | as_crispy_field }}
                    {{ user_form.last_name | as_crispy_field }}
                    {{ user_profile_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="pt-2">
                    <legend class="field-label">Delivery Details</legend>
                    {{ user_profile_form.address_1 | as_crispy_field }}
                    {{ user_profile_form.address_2 | as_crispy_field }}
                    {{ user_profile_form.town_or_city | as_crispy_field }}
                    {{ user_profile_form.county | as_crispy_field }}
                    {{ user_profile_form.postcode | as_crispy_field }}
                    {{ user_profile_form.country | as_crispy_field }}
                </fieldset>
            </form>
        </div>
        <div class="col-12 col-md-6 px-3 px-md-4">
            <h1 class="text-large text-bold">Order History</h1>
            {{ orders }}
        </div>
    </div>
</section>
{% endblock %}

{% block extrapostloadjs %}
{% endblock %}
