{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <!-- Link to Products Custom CSS -->
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
    <!-- Link to Basket Custom CSS -->
    <link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
    <!-- Link to Checkout Custom CSS -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<section id="checkout" class="container-sm container-custom pt-2">
    <div class="row py-4">
        <div class="col-12 basket-container pt-4 px-3">
            <div class="row">
                <div class="col-12">
                    <h6 class="product-text-lg text-center pt-2">Thank You For Your Order!</h6>
                </div>
                <div class="divider-opaque">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="basket-detail-text text-center">
                        Your order information is below. 
                        A confirmation email has been sent to <strong class="fg-pink">{{ order.email }}</strong>.
                    </p>
                </div>
            </div>
            {% if order %}
                <div class="row">
                    <div class="col-12">
                        <table class="table table-dark table-borderless">
                            <tr>
                                <td class="basket-detail-title-text checkout-table-title py-0">Order Number</th>
                            </tr>
                            <tr>
                                <td class="basket-detail-text px-2 py-0">{{ order.order_number }}</td>
                            </tr>
                            <tr>
                                <td class="basket-detail-title-text checkout-table-title px-2 py-0">Order Date</td>
                            </tr>
                            <tr>
                                <td class="basket-detail-text px-2 py-0">{{ order.date }}</td>
                            </tr>
                        </table>
                    </div>                   
                    <div class="divider-opaque">
                        <hr>
                    </div>
                    <div class="col-12 col-md-6 text-left">
                        <div class="col-12">
                            <table class="table table-dark table-borderless">
                                <tr>
                                    <th scope="col" class="basket-detail-title-text checkout-table-title py-1">Your Details</th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text checkout-table-title px-2 py-0">Name</td>
                                    <td class="basket-detail-text px-2 py-0">{{ order.full_name }}</td>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text checkout-table-title px-2 py-0">Email</td>
                                    <td class="basket-detail-text px-2 py-0">{{ order.email }}</td>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text checkout-table-title px-2 py-0">Phone Number</td>
                                    <td class="basket-detail-text px-2 py-0">{{ order.phone_number }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-left">
                        <div class="col-12">
                            <table class="table table-dark table-borderless">
                                <tr>
                                    <th scope="col" class="basket-detail-title-text checkout-table-title py-1">Delivery Details</th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text checkout-table-title px-2 py-0">Street Address 1</td>
                                    <td class="basket-detail-text px-2 py-0">{{ order.address_1 }}</td>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text checkout-table-title px-2 py-0">Street Address 2</td>
                                    <td class="basket-detail-text px-2 py-0">{{ order.address_2 }}</td>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text checkout-table-title px-2 py-0">Town Or City</td>
                                    <td class="basket-detail-text px-2 py-0">{{ order.town_or_city }}</td>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text checkout-table-title px-2 py-0">County</td>
                                    <td class="basket-detail-text px-2 py-0">{{ order.county }}</td>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text checkout-table-title px-2 py-0">Post Code</td>
                                    <td class="basket-detail-text px-2 py-0">{{ order.postcode }}</td>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text checkout-table-title px-2 py-0">Country</td>
                                    <td class="basket-detail-text px-2 py-0">{{ order.country }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="divider-opaque">
                        <hr>
                    </div>
                </div>
                {% for lineitem in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 pt-4 px-3 text-center">
                            <p class="basket-detail-title-text">{{ lineitem.product.name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="basket-image-container col-3 col-md-2 px-3 px-md-4">
                            <div class="product-container">
                                <div class="image-container">
                                    <a href="{% url 'product_detail' lineitem.product.id %}">
                                        <img src="{{ lineitem.product.image.url }}" alt="{{ lineitem.product.name }}" class="w-100 p-1">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-9 col-md-10">
                            <table class="table table-dark table-borderless">
                                <tr>
                                    <td class="basket-detail-title-text basket-table-title px-2 py-0">{{ lineitem.size.category.size_description }}</td>
                                    <td class="basket-detail-text px-2 py-0">{{ lineitem.size.size }}</td>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text basket-table-title px-2 py-0">{{ lineitem.type.category.type_description }}</td>
                                    <td class="basket-detail-text px-2 py-0">{{ lineitem.type.type }}</td>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text basket-table-title px-2 py-0">Quantity</td>
                                    <td class="basket-detail-text px-2 py-0">{{ lineitem.quantity }}</td>
                                </tr>
                                <tr>
                                    <td class="basket-detail-title-text basket-table-title px-2 py-0">Subtotal</td>
                                    <td class="basket-detail-title-text px-2 py-0">£{{ lineitem.lineitem_total }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card bg-black-3" style="width: 50%;">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ lineitem.product.name }}</h5>
                            <div class="row">
                                <div class="col-6">
                                    <div class="image-container">
                                        <a href="{% url 'product_detail' lineitem.product.id %}">
                                            <img src="{{ lineitem.product.image.url }}" alt="{{ lineitem.product.name }}" class="w-100 p-1">
                                        </a>
                                    </div>                              
                                </div> 
                                <div class="col-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{ lineitem.size.size }} x {{ lineitem.quantity }}</li>
                                        <li class="list-group-item">{{ lineitem.type.type }}</li>
                                        <li class="list-group-item">£{{ lineitem.lineitem_total }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row pt-3">
                    <div class="divider-opaque">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-dark table-borderless">
                            <tr>
                                <td class="basket-detail-title-text checkout-table-title px-2 pt-3 pb-1">Total</td>
                                <td class="basket-detail-title-text pt-3 pb-1">£{{ order.order_total }}</td>
                            </tr>
                            <tr class="">
                                <td class="basket-detail-title-text checkout-table-title px-2 pt-0 pb-1">Delivery</td>                                
                                {% if order.delivery_cost > 0 %}
                                    <td class="basket-detail-title-text pt-0 pb-1">£{{ order.delivery_cost }}</td>
                                {% else %}
                                    <td class="basket-detail-title-text pt-0 pb-1">Free!</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="basket-detail-title-text checkout-table-title px-2 pt-0 pb-1">Grand Total</td>
                                <td class="basket-detail-title-text pt-0 pb-1">£{{ order.grand_total }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endif %}       
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-12 col-md-6">       
                    <div class="text-center py-4">
                        <a href="{% url 'products' %}"
                            class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-50">
                            Keep Shopping
                        </a>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrapostloadjs %}
{% endblock %}
