{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <!-- Link to Products Custom CSS -->
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
    <!-- Link to Basket Custom CSS -->
    <link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
    <!-- Link to Checkout Custom CSS -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<section id="checkout" class="container-sm container-custom pt-2">
    <div class="row py-4">
        <div class="col-12 container-dark pt-4 px-3">
            <div class="row">
                <div class="col-12">
                    <h6 class="title-text-large text-center pt-2">Checkout</h6>
                </div>
                <div class="divider-opaque">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 px-3 px-md-4">
                    <form class="form-user dark" action="{% url 'checkout' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                        <fieldset class="pt-2">
                            <legend class="field-label">Your Details</legend>
                            {{ order_form.full_name | as_crispy_field }}
                            {{ order_form.email | as_crispy_field }}
                        </fieldset>
                        <fieldset class="pt-2">
                            <legend class="field-label">Delivery</legend>
                            {{ order_form.phone_number | as_crispy_field }}
                            {{ order_form.address_1 | as_crispy_field }}
                            {{ order_form.address_2 | as_crispy_field }}
                            {{ order_form.town_or_city | as_crispy_field }}
                            {{ order_form.county | as_crispy_field }}
                            {{ order_form.postcode | as_crispy_field }}
                            {{ order_form.country | as_crispy_field }}
                            {% if user.is_authenticated %}
                                <div class="form-check form-check-inline py-1">
                                    <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                    <input class="form-check-input mt-2" type="checkbox" id="id-save-info" name="save-info" checked>
                                </div>
                            {% else %}
                                <div class="py-1">
                                    <p>
                                        <a class="form-user-link" href="{% url 'account_signup' %}">Create an account</a> or 
                                        <a class="form-user-link" href="{% url 'account_login' %}">login</a> to save this information
                                    </p>
                                </div>
                             {% endif %}
                        </fieldset>
                        <fieldset class="pt-3">
                            <legend class="field-label">Payment</legend>
                            <!-- Stripe card element -->
                            <div class="" id="card-element"></div>    
                            <!-- Stripe Errors -->
                            <div class="fg-pink pt-2 px-2" id="card-errors" role="alert"></div>
                            <!-- Pass the client secret to the view to get the payment intent id -->
                            <input type="hidden" value="{{ client_secret}}" name="client_secret">
                        </fieldset>
                        <div class="row">
                            <div class="col-12">
                                <p class="fg-blue px-1">
                                    <span class="icon">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                    <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                                </p>
                            </div>
                            <div class="col-6 pb-4">
                                <div class="text-center py-2">
                                    <a href="{% url 'view_basket' %}"
                                        class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                        <i class="fas fa-shopping-basket px-1"></i>
                                        Edit Basket
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 pb-4">
                                <div class="text-center py-2">
                                    <button id="checkout-submit-button"
                                        class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                        <i class="fas fa-lock px-1"></i>
                                        Pay £{{ grand_total }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>                  
                </div>
                <div class="col-12 col-md-6 px-3 px-md-4 pt-2">
                    <p class="text-large text-bold text-center">Product Summary</p>
                    <div class="divider-opaque">
                        <hr>
                    </div>
                    {% for basket_item in basket_items %}
                    <div class="col-12">
                        <div class="card bg-black-3">
                            <div class="card-body">
                                <h5 class="card-title text-center text-large text-bold">{{ basket_item.product.name }}</h5>
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 p-3">
                                        <div class="product-container image-container">
                                            <a href="{% url 'product_detail' basket_item.product_id %}">
                                                {% if  basket_item.product.image %}
                                                    <img src="{{ basket_item.product.image.url }}" alt="{{ basket_item.product.friendly_name }}" class="w-100 p-1">
                                                {% else %}
                                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ basket_item.product.friendly_name }}" class="w-100 p-1">
                                                {% endif %}
                                            </a>                           
                                        </div>
                                    </div>
                                    <div class="col-8 text-medium pt-2">
                                        <table class="table table-dark table-borderless text-medium">
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                            <tr>
                                                <td class="text-medium text-bold basket-table-title px-2 py-0">Quantity</td>
                                                <td class="text-medium py-0 pb-0">{{ basket_item.product_quantity }}</td>
                                            </tr>
                                            <tr>
                                                <td class="px-2 pt-2 pb-0 text-bold">{{ basket_item.product_category.size_description }}</td>
                                                <td class="px-2 pt-2 pb-0">{{ basket_item.product_size.size }}</td>
                                            </tr>
                                            <tr>
                                                <td class="px-2 py-0 text-bold">{{ basket_item.product_category.type_description }}</td>
                                                <td class="px-2 py-0">{{ basket_item.product_type.type }}</td>
                                            </tr>
                                            <tr>
                                                <td class="px-2 py-3 text-bold">Subtotal</td>
                                                <td class="px-2 py-3 text-bold">£{{ basket_item.line_item_price }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                   
                    {% endfor %}
                </div>
            </div>     
            <div class="row">
                <div class="divider-opaque">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-dark table-borderless">
                        <tr>
                            <td class="text-medium text-bold total-table-title px-2 pt-3 pb-1">Total</td>
                            {% if discount %}
                                <td class="text-medium text-bold pt-3 pb-1">£{{ previous_total }}</td>
                            {% else %}
                                <td class="text-medium text-bold pt-3 pb-1">£{{ total }}</td>
                            {% endif %}
                        </tr>
                        {% if discount %}
                            <tr>
                                <td class="text-medium text-bold total-table-title px-2 pt-0 pb-1">Discount</td>
                                <td id="discount" data-discount="{{ discount }}" class="text-medium text-bold px-2 pt-0 pb-1">£{{ discount }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="d-none">Discount</td>
                                <td id="discount" class="d-none" data-discount=0.00>0.00</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="text-medium text-bold total-table-title px-2 pt-0 pb-1">Delivery</td>
                            {% if delivery > 0 %}
                                <td class="text-medium text-bold pt-0 pb-1">£{{ delivery }}</td>
                            {% else %}
                                <td class="text-medium text-bold pt-0 pb-1">Free!</td>
                            {% endif %}
                        </tr>                                
                        <tr>
                            <td class="text-large text-bold total-table-title p-2">Grand Total</td>
                            <td class="text-large text-bold p-2">£{{ grand_total }}</td>
                        </tr>
                    </table>
                    {% if not discount %}
                        {% if user.is_authenticated %}
                            <p class="text-medium fg-blue px-2 py-0">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                Add a new review to qualify for a discount!
                            </p>
                        {% else %}
                            <p class="text-medium fg-blue px-2 py-0">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                Sign up and add a new review to qualify for a discount!
                            </p>
                        {% endif %}
                    {% endif %}
                    {% if delivery > 0 %}
                        <p class="text-medium fg-blue px-2 pt-0 pb-1">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            Spend another 
                            <span>£{{ free_delivery_delta }}</span> 
                            to qualify for free UK delivery!
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<div id="loader-overlay">
    <div class="row loader-container">
        <div class="col-12 text-center">
            <div id="loader" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrapostloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}
