{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <!-- Link to Products Custom CSS -->
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
    <!-- Link to Basket Custom CSS -->
    <link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
    <!-- Link to Checkout Custom CSS -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<section id="checkout" class="container-sm container-custom pt-2">
    <div class="row py-4">
        <div class="col-12 container-dark pt-4 px-3">
            <div class="row">
                <div class="col-12">
                    {% if from_profile %} 
                        <h6 class="title-text-large text-center pt-2">Past Order Confirmation</h6>
                    {% else %}
                        <h6 class="title-text-large text-center pt-2">Thank You For Your Order!</h6> 
                    {% endif %}
                </div>
                <div class="divider-opaque">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if from_profile %} 
                    <p class="text-medium text-left px-2">
                        Your past order information is below.<br>
                        A confirmation email was sent to <strong class="fg-blue">{{ order.email }}</strong> on {{ order.date }}.
                    </p>
                    {% else %}
                    <p class="text-medium text-left px-2">                
                        Your order information is below.<br>
                        A confirmation email has been sent to <strong class="fg-blue">{{ order.email }}</strong>.
                    </p>
                    {% endif %}
                </div>
            </div>
            {% if order %}
                <div class="row">
                    <div class="col-12">
                        <table class="table table-dark table-borderless">
                            <tr>
                                <td class="text-large text-bold checkout-table-title py-0">Order Number</td>
                            </tr>
                            <tr>
                                <td class="text-medium px-2 py-0">{{ order.order_number }}</td>
                            </tr>
                            <tr>
                                <td class="text-large text-bold checkout-table-title px-2 py-0 pt-3">Order Date</td>
                            </tr>
                            <tr>
                                <td class="text-medium px-2 py-0">{{ order.date }}</td>
                            </tr>
                        </table>
                    </div>                   
                    <div class="divider-opaque">
                        <hr>
                    </div>
                    <div class="col-12 col-md-6 text-left">
                        <div class="col-12">
                            <table class="table table-dark table-borderless">
                                <tr>
                                    <th scope="col" class="text-large text-bold checkout-table-title py-1">Your Details</th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <td class="text-medium text-bold checkout-table-title px-2 py-0">Name</td>
                                    <td class="text-medium px-2 py-0">{{ order.full_name }}</td>
                                </tr>
                                <tr>
                                    <td class="text-medium text-bold checkout-table-title px-2 py-0">Email</td>
                                    <td class="text-medium px-2 py-0">{{ order.email }}</td>
                                </tr>
                                <tr>
                                    <td class="text-medium text-bold checkout-table-title px-2 py-0">Phone Number</td>
                                    <td class="text-medium px-2 py-0">{{ order.phone_number }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-left">
                        <div class="col-12">
                            <table class="table table-dark table-borderless">
                                <tr>
                                    <th scope="col" class="text-large text-bold checkout-table-title py-1">Delivery Details</th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <td class="text-medium text-bold checkout-table-title px-2 py-0">Street Address 1</td>
                                    <td class="text-medium px-2 py-0">{{ order.address_1 }}</td>
                                </tr>
                                {% if order.address_2 %}
                                <tr>
                                    <td class="text-medium text-bold checkout-table-title px-2 py-0">Street Address 2</td>
                                    <td class="text-medium px-2 py-0">{{ order.address_2 }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td class="text-medium text-bold checkout-table-title px-2 py-0">Town Or City</td>
                                    <td class="text-medium px-2 py-0">{{ order.town_or_city }}</td>
                                </tr>
                                {% if order.county %}
                                <tr>
                                    <td class="text-medium text-bold checkout-table-title px-2 py-0">County</td>
                                    <td class="text-medium px-2 py-0">{{ order.county }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td class="text-medium text-bold checkout-table-title px-2 py-0">Post Code</td>
                                    <td class="text-medium px-2 py-0">{{ order.postcode }}</td>
                                </tr>
                                <tr>
                                    <td class="text-medium text-bold checkout-table-title px-2 py-0">Country</td>
                                    <td class="text-medium px-2 py-0">{{ order.country }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="divider-opaque">
                        <hr>
                    </div>
                </div>
                <div class="row">
                {% for lineitem in order.lineitems.all %}
                    <div class="col-12 col-md-6">
                        <div class="card bg-black-3">
                            <div class="card-body">
                                <h5 class="card-title text-center text-large text-bold">{{ lineitem.product.name }}</h5>
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 p-3">
                                        <div class="product-container image-container">
                                            <a href="{% url 'product_detail' lineitem.product.id %}" aria-label="{{ lineitem.product.name }}">
                                                {% if  lineitem.product.image and lineitem.product.image_alt %}
                                                    <picture>
                                                        <source srcset="{{ lineitem.product.image.url }}" type="image/webp">
                                                        <source srcset="{{ lineitem.product.image_alt.url }}" type="image/jpeg"> 
                                                        <img src="{{ lineitem.product.image_alt.url }}" alt="{{ linetiem.product.friendly_name }}" class="w-100 p-1">
                                                    </picture>
                                                {% elif lineitem.product.image %}
                                                    <img src="{{ lineitem.product.image.url }}" alt="{{ linetiem.product.friendly_name }}" class="w-100 p-1">                                                    
                                                {% else %}
                                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ lineitem.product.friendly_name }}" class="w-100 p-1">
                                                {% endif %}
                                            </a>                             
                                        </div>
                                    </div>
                                    <div class="col-8 text-medium pt-4">
                                        <table class="table table-dark table-borderless text-medium">
                                            <tr>
                                                <td class="px-2 pt-3 pb-0 text-bold">{{ lineitem.size.category.size_description }}</td>
                                                <td class="px-2 pt-3 pb-0">{{ lineitem.size.size }}</td>
                                            </tr>
                                            <tr>
                                                <td class="px-2 py-0 text-bold">{{ lineitem.type.category.type_description }}</td>
                                                <td class="px-2 py-0">{{ lineitem.type.type }}</td>
                                            </tr>
                                            <tr>
                                                <td class="px-2 py-0 text-bold">Quantity</td>
                                                <td class="px-2 py-0">{{ lineitem.quantity }}</td>
                                            </tr>
                                            <tr>
                                                <td class="px-2 py-3 text-bold">Subtotal</td>
                                                <td class="px-2 py-3 text-bold">£{{ lineitem.lineitem_total }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="row pt-3">
                    <div class="divider-opaque">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-dark table-borderless text-medium">
                            <tr>
                                <td class="text-medium text-bold total-table-title px-2 pt-3 pb-1">Total</td>
                                {% if order.discount > 0 %}
                                    <td class="text-bold checkout-table-title px-2 pt-3 pb-1">£{{ order.previous_total }}</td>
                                {% else %}
                                    <td class="text-bold pt-3 pb-1">£{{ order.order_total }}</td>
                                {% endif %}
                            </tr>
                            {% if order.discount > 0 %}
                                <tr>
                                    <td class="text-medium text-bold total-table-title px-2 pt-0 pb-1">Discount</td>
                                    <td class="text-medium text-bold px-2 pt-0 pb-1">£{{ order.discount }}</td>
                                </tr>
                            {% endif %}
                            <tr class="">
                                <td class="text-bold checkout-table-title px-2 pt-0 pb-1">Delivery</td>                                
                                {% if order.delivery_cost > 0 %}
                                    <td class="text-bold pt-0 pb-1">£{{ order.delivery_cost }}</td>
                                {% else %}
                                    <td class="text-bold pt-0 pb-1">Free!</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="text-large text-bold checkout-table-title p-2">Grand Total</td>
                                <td class="text-large text-bold p-2">£{{ order.grand_total }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endif %}       
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-12 col-md-8">  
                    {% if from_profile %}  
                        <div class="row">
                            <div class="col-6 py-4">
                                <a href="{% url 'profile' %}"
                                    class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                    Back To Profile
                                </a>
                            </div>
                            <div class="col-6 py-4">
                                <a href="{% url 'order_contact' order.order_number %}"
                                    class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                    Contact
                                </a>
                            </div>
                        </div>   
                    {% else %}
                        <div class="text-center py-4">
                            <a href="{% url 'products' %}"
                                class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-50">
                                Keep Shopping
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrapostloadjs %}
{% endblock %}
