{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <!-- Link to Products Custom CSS -->
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
    <!-- Link to Basket Custom CSS -->
    <link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<section id="basket-contents" class="container-sm container-custom pt-2">
    <div class="row py-4">
        <div class="col-12 container-dark pt-4">
            <div class="row">
                <div class="col-12">
                    <h6 class="title-text-large text-center pt-2">Basket</h6>
                </div>
                <div class="divider-opaque">
                    <hr>
                </div>
            </div>
            {% if basket_items %}
                <div class="row">
                    {% for basket_item in basket_items %}
                        <div class="col-12 col-md-6">
                            <div class="card bg-black-3">
                                <div class="card-body">
                                    <h5 class="card-title text-center text-large text-bold">{{ basket_item.product.name }}</h5>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-4 p-3">
                                            <div class="product-container image-container">
                                                <a href="{% url 'product_detail' basket_item.product_id %}">
                                                    {% if  basket_item.product.image %}
                                                        <img src="{{ basket_item.product.image.url }}" alt="{{ basket_item.product.friendly_name }}" class="w-100 p-1">
                                                    {% else %}
                                                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ basket_item.product.friendly_name }}" class="w-100 p-1">
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-8 text-medium pt-2">
                                            <table class="table table-dark table-borderless text-medium">
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                </tr>
                                                <tr>
                                                    <td class="text-medium text-bold basket-table-title pt-3 px-2 pb-1">Quantity</td>
                                                    <td class="text-medium">
                                                        <form action="{% url 'adjust_basket' basket_item.product_key  %}" method="POST" class="form basket-update-form" id="{{ basket_item.product_key }}-update-form">
                                                            {% csrf_token %}
                                                            <div class="input-group">
                                                                <input id="{{ basket_item.product_key }}-quantity" name="product-quantity" type="text" inputmode="numeric" readonly class="product-quantity-input basket-quantity-input form-control text-center" placeholder="{{ basket_item.product_quantity }}" value="{{ basket_item.product_quantity }}" aria-label="Quantity">
                                                                <button id="{{ basket_item.product_key }}-quantity-minus-btn" class="btn btn-lg btn-outline-light btn-outline-green" type="button"><i class="fas fa-minus fa-sm"></i></button>
                                                                <button id="{{ basket_item.product_key }}-quantity-plus-btn" class="btn btn-lg btn-outline-light btn-outline-green" type="button"><i class="fas fa-plus fa-sm"></i></button>
                                                            </div>
                                                            <input type="hidden" name="product_key" value="{{ basket_item.product_key }}">
                                                        </form>
                                                        <a id="{{ basket_item.product_key }}-update" class="basket-link basket-quantity-update px-1" data-product-key="{{ basket_item.product_key }}">Update</a>
                                                        <a id="{{ basket_item.product_key }}-remove" class="basket-link basket-remove px-1" data-product-key="{{ basket_item.product_key }}">Remove</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="px-2 pt-2 pb-0 text-bold">{{ basket_item.product_category.size_description }}</td>
                                                    <td class="px-2 pt-2 pb-0">{{ basket_item.product_size.size }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="px-2 py-0 text-bold">{{ basket_item.product_category.type_description }}</td>
                                                    <td class="px-2 py-0">{{ basket_item.product_type.type }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="px-2 py-3 text-bold">Subtotal</td>
                                                    <td class="px-2 py-3 text-bold">£{{ basket_item.line_item_price }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="row">
                        <div class="divider-opaque">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-dark table-borderless">
                                <tr>
                                    <td class="text-medium text-bold total-table-title px-2 pt-3 pb-1">Total</td>
                                    <td class="text-medium text-bold pt-3 pb-1">£{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-medium text-bold total-table-title px-2 pt-0 pb-1">Delivery</td>
                                    {% if delivery > 0 %}
                                        <td class="text-medium text-bold pt-0 pb-1">£{{ delivery }}</td>
                                    {% else %}
                                        <td class="text-medium text-bold pt-0 pb-1">Free!</td>
                                    {% endif %}
                                </tr>                                
                                <tr>
                                    <td class="text-large text-bold total-table-title px-2 py-2">Grand Total</td>
                                    <td class="text-large text-bold py-2">£{{ grand_total }}</td>
                                </tr>
                            </table>
                            {% if delivery > 0 %}
                                <p class="text-medium fg-blue px-2 pt-0 pb-1">
                                    <span class="icon">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                    Spend another 
                                    <span>£{{ free_delivery_delta }}</span> 
                                    to qualify for free UK delivery!
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-12">
                            <p class="title-text-large text-center pt-2">Your basket is currrently empty</p>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    {% if basket_items %}
                    <div class="col-md-2"></div>
                    <div class="col-6 col-md-4 pb-4">           
                        <div class="text-center py-2">
                            <a href="{% url 'products' %}"
                                class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                Keep Shopping
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 pb-4">
                        <div class="text-center py-2">
                            <a href="{% url 'checkout' %}"
                                class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                <i class="fas fa-lock px-1"></i>
                                Checkout
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    {% else %}
                    <div class="col-12 pb-4">                        
                        <div class="text-center py-2">
                            <a href="{% url 'products' %}"
                                class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-50">
                                Keep Shopping
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>               
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrapostloadjs %}
    <!-- Link to Basket JavaScript -->
    <script src="{% static 'basket/js/basket.js' %}"></script>
    <!-- Link to Products JavaScript -->
    <script src="{% static 'products/js/products.js' %}"></script>
    <!-- JavaScript function added to basket remove links -->
    <!-- Added in basket.html due to csrf token -->
    <script type="text/javascript">
        // Remove product and reload on click
        $('.basket-remove').each(function (e) {
            $(this).click(function() {
                let csrfToken = "{{ csrf_token }}";
                let productKey = $(this).data('product-key');
                let url = `/basket/remove/${productKey}/`;
                let data = {'csrfmiddlewaretoken': csrfToken};
                $.post(url, data)
                    .done(function() {
                        location.reload();
                    });
            });
        })
    </script>
{% endblock %}
