{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <!-- Link to Products Custom CSS -->
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
    <!-- Link to Basket Custom CSS -->
    <link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<section id="basket-contents" class="container-sm container-custom-sm pt-2">
    <div class="row py-4">
        <div class="col-12 pt-4 px-5">
            <div class="row">
                <div class="col-12">
                    <h6 class="product-text-lg text-center pt-2">Basket</h6>
                </div>
                <div class="divider-opaque">
                    <hr>
                </div>
            </div>
            {% if basket_items %}
                {% for basket_item in basket_items %}
                    <div class="row">
                        <p class="product-detail-title-text text-center pt-0">{{ basket_item.product.name }}</p>
                        <div class="col-4 col-md-3 p-3">
                            <div class="product-container">
                                <div class="image-container">
                                    <a href="{% url 'product_detail' basket_item.product_id %}">
                                        <img src="{{ basket_item.product.image.url }}" alt="{{ basket_item.product.name }}" class="w-100 p-1">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-md-9 p-1">
                            <table class="table table-dark table-borderless">
                                <tr>
                                    <td class="product-detail-title-text basket-table-title px-2 pt-4 pb-1">Quantity</td>
                                    <td class="product-detail-text pt-3 pb-1">
                                        <form action="{% url 'adjust_basket' basket_item.product_key  %}" method="POST" class="form basket-update-form" id="{{ basket_item.product_key }}-update-form">
                                            {% csrf_token %}
                                            <div class="input-group">
                                                <input id="{{ basket_item.product_key }}-quantity" name="product-quantity" type="text" inputmode="numeric" readonly class="product-quantity-input basket-quantity-input form-control text-center" placeholder="{{ basket_item.product_quantity }}" value="{{ basket_item.product_quantity }}" aria-label="Quantity">
                                                <button id="{{ basket_item.product_key }}-quantity-minus-btn" class="btn btn-lg btn-outline-light btn-outline-green" type="button"><i class="fas fa-minus fa-sm"></i></button>
                                                <button id="{{ basket_item.product_key }}-quantity-plus-btn" class="btn btn-lg btn-outline-light btn-outline-green" type="button"><i class="fas fa-plus fa-sm"></i></button>
                                            </div>
                                            <input type="hidden" name="product_key" value="{{ basket_item.product_key }}">
                                        </form>
                                        <a id="{{ basket_item.product_key }}-update" class="basket-link basket-quantity-update px-1" data-product-key="{{ basket_item.product_key }}">Update</a>
                                        <a id="{{ basket_item.product_key }}-remove" class="basket-link basket-remove px-1" data-product-key="{{ basket_item.product_key }}">Remove</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-detail-title-text basket-table-title px-2 pt-0 pb-1">{{ basket_item.product_category.size_description }}</td>
                                    <td class="product-detail-text pt-0 pb-1">{{ basket_item.product_size.size }}</td>
                                </tr>
                                <tr>
                                    <td class="product-detail-title-text basket-table-title px-2 pt-0 pb-1">{{ basket_item.product_category.type_description }}</td>
                                    <td class="product-detail-text pt-0 pb-1">{{ basket_item.product_type.type }}</td>
                                </tr>
                                <tr>
                                    <td class="product-detail-title-text basket-table-title px-2 pt-0 pb-1">Subtotal</td>
                                    <td class="product-detail-text pt-0 pb-1">£{{ basket_item.line_item_price }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="divider-opaque">
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-dark table-borderless">
                                <tr>
                                    <td class="product-detail-title-text total-table-title px-2 pt-3 pb-1">Total</td>
                                    <td class="product-detail-title-text pt-3 pb-1">£{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="product-detail-title-text total-table-title px-2 pt-0 pb-1">Delivery</td>
                                    {% if delivery > 0 %}
                                        <td class="product-detail-title-text pt-0 pb-1">£{{ delivery }}</td>
                                    {% else %}
                                        <td class="product-detail-title-text pt-0 pb-1">Free!</td>
                                    {% endif %}
                                </tr>                                
                                <tr>
                                    <td class="product-detail-title-text total-table-title px-2 pt-0 pb-1">Grand Total</td>
                                    <td class="product-detail-title-text pt-0 pb-1">£{{ grand_total }}</td>
                                </tr>
                            </table>
                            {% if delivery > 0 %}
                                <p class="product-detail-title-text px-2 pt-0 pb-1">Spend another <span>£{{ free_delivery_delta }}</span> to qualify for free UK delivery!</p>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-12">
                            <p class="product-text-lg text-center pt-2">Your basket is currrently empty</p>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    {% if basket_items %}
                    <div class="col-6">           
                        <div class="text-center pt-4">
                            <a href="{% url 'products' %}"
                                class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                Keep Shopping
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-center pt-4">
                            <a href="{% url 'products' %}"
                                class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                Checkout
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-12">                        
                        <div class="text-center pt-4">
                            <a href="{% url 'products' %}"
                                class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-50">
                                Keep Shopping
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrapostloadjs %}
    <!-- Link to Basket JavaScript -->
    <script src="{% static 'basket/js/basket.js' %}"></script>
    <!-- Link to Products JavaScript -->
    <script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}
