/*-- Base Custom CSS --*/

/*-- Global Variable Declarations --*/
:root {
    /*-- Fonts --*/
        --logofont: "Teko", sans-serif;
        --titlefont: "Titillium Web", sans-serif;
        --bodyfont: "Montserrat", sans-serif;
    /*-- Colour Palette --*/
        --background-lvl0: #121212;
        --background-lvl1: #1F1F1F;
        --background-lvl2: #292929;
        --background-lvl3: #292929;
        --background-lvl4: #333333;
        --yellow: #FDDE86;
        --yellowhighlight: #FDD25E;
        --green: #4ED0AD;
        --greenhighlight: #33C19C;
        --pink: #FFAD99;
        --pinkhighlight: #FF8D70;
        --blue: #73DCE7;
        --white: #FAFAFA;
        --whitehighlight: #CCCCCC;
    }
    
/*-- HTML --*/
html {
    font-size: 62.5%;
}
    
/*-- Body --*/
body {
    font-family: var(--bodyfont);
    color: var(--white);
    font-size: 1.6rem;
    min-height: 100vh;
    background:
        /* top, transparent black, with gradient */ 
        linear-gradient(
            rgba(31, 31, 31, 1.0), 
            rgba(31, 31, 31, 0.3)
        ),
        /* bottom, image */
        url('/media/pexels-juan-pablo-serrano-arenas-894695.jpg') no-repeat center fixed;    
    background-size: cover;
    background-color: var(--background-lvl1);
}

/*-- Logo --*/
.logo-text {
    font-family: var(--logofont);
    font-size: 6.0rem;
}

.logo-image {
    width: 35px;
}

/*-- Navigation --*/
.navbar-dark .navbar-brand {
    color: var(--white);
}


.navbar-dark .navbar-toggler {
    color: rgba(250, 250, 250, 0.6);
    border: 2px solid rgba(250, 250, 250, 0.6);
}

.navbar-nav .form-control {
    background-color: var(--background-lvl0);
    border: 2px solid rgba(250, 250, 250, 0.6);
    color: var(--white); 
}

.navbar-nav .form-control::placeholder {
    color: var(--white);
    opacity: 1;
}

.navbar-nav .form-control:-ms-input-placeholder {
    color: var(--white);
    opacity: 1;
}

.navbar-nav .form-control::-ms-input-placeholder {
    color: var(--white);
    opacity: 1;
}

.navbar-nav .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(78 208 173 / 25%);
}

.nav-item i,
.navbar-dark .navbar-nav .nav-link {
    color: var(--whitehighlight);
}

.nav-item i:hover,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--white);
}

/*-- Tagline--*/
.tagline-text {
    font-family: var(--titlefont);
    font-weight: 600;
    font-size: 1.6rem;
}

/*-- Containers --*/

/*-- Dividers--*/
.divider-solid hr {
    height: 2px;
    background-color: var(--white);
    opacity: 1;
}

.divider-opaque hr {
    height: 2px;
    background-color: var(--white);
    opacity: 0.5;
}
    
/*-- Custom Utility Classes--*/
/*-- Black Background, level 0 --*/
.bg-black-0 {
    background-color: var(--background-lvl0);
}

/*-- Black Background, level 1 --*/
.bg-black-1 {
    background-color: var(--background-lvl1);
}

/*-- Black Background, level 2 --*/
.bg-black-2 {
    background-color: var(--background-lvl2);
}

/*-- Black Background, level 3 --*/
.bg-black-3 {
    background-color: var(--background-lvl3);
}

/*-- Black Background, level 4 --*/
.bg-black-4 {
    background-color: var(--background-lvl4);
}

/*-- Yellow Background --*/
.bg-yellow {
    background-color: var(--yellow);
}

/*-- Green Background --*/
.bg-green {
    background-color: var(--green);
}

/*-- Pink Background --*/
.bg-pink {
    background-color: var(--pink);
}

/*-- Blue Background --*/
.bg-blue {
    background-color: var(--blue);
}

/*-- Black Foreground, level 0 --*/
.fg-black-0 {
    color: var(--background-lvl0);
}

/*-- Black Foreground, level 1 --*/
.fg-black-1 {
    color: var(--background-lvl1);
}

/*-- Black Foreground, level 2 --*/
.fg-black-2 {
    color: var(--background-lvl2);
}

/*-- White Foreground --*/
.fg-white {
    color: var(--white);
}

/*-- Yellow Foreground --*/
.fg-yellow {
    color: var(--yellow);
}

/*-- Buttons --*/
.btn-pink {
    background-color: var(--pink);
    border-color: var(--pink);
    color: var(--background-lvl2);
    font-weight: 600;
}

.btn-pink:hover {
    background-color: var(--pinkhighlight);
    border-color: var(--pinkhighlight);
    color: var(--background-lvl0);
}

.btn-green {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--background-lvl2);
    font-weight: 600;
}

.btn-green:hover {
    background-color: var(--greenhighlight);
    border-color: var(--greenhighlight);
    color: var(--background-lvl0);
}

.btn-yellow {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: var(--background-lvl2);
    font-weight: 600;
}

.btn-yellow:hover {
    background-color: var(--yellowhighlight);
    border-color: var(--yellowhighlight);
    color: var(--background-lvl0);
}

.btn-white {
    background-color: var(--whitehighlight);
    border-color: var(--whitehighlight);
    color: var(--background-lvl2);
    font-weight: 600;
}

.btn-white:hover,
.btn-outline-green:hover,
.btn-outline-white:hover {
    background-color: var(--white);
    border-color: var(--green);
    color: var(--background-lvl0);
}

.btn-outline-white {
    background-color: rgba(41, 41, 41, 0.7);
    border: 2px solid;
    border-color: var(--white);
    color: var(--white);
    font-weight: 600;
}

.btn-outline-green {
    background-color: rgba(41, 41, 41, 0.7);
    border: 2px solid;
    border-color: var(--green);
    color: var(--white);
    font-weight: 600;
}

.btn-xl {
    font-size: 1.5rem;
}

/*-- Toast Messages --*/

.toast-container {
    z-index: 11
}

.toast-header{
    border: var(--white) 1px solid;
    background-clip: unset;
    border-bottom: None
}

.toast-body {
    border: var(--white) 1px solid;
    background-clip: unset;
}

.toast h5 {
    font-size: 1.4rem;
    font-weight: 600;
}

.toast-body p {
    font-size: 1.4rem;
}

.toast-error i,
.toast-error h5 {
    color: var(--pink);
}

.toast-info i,
.toast-info h5 {
    color: var(--blue);
}

.toast-success i,
.toast-success h5 {
    color: var(--green);
}

.toast-warning i,
.toast-warning h5 {
    color: var(--yellow);
}

/*-- Footer --*/
.footer-links a {
    color: var(--whitehighlight);
}

.footer-links a:hover {
    color: var(--white);
}

/*-- Media Queries --*/

/*-- Custom Containers--*/
@media (min-width: 768px) {
    .container-custom {
        width: 720px;
    }
    .container-custom-sm {
        width: 500px;
    }
}

@media (max-width: 350px) {
    .logo-text {
        font-size: 5.0rem;
    }
    .logo-image {
        width: 30px;
    }
    .tagline-text {
        font-size: 1.4rem;
    }
    .btn-xl {
        font-size: 1.4rem;
    }  
    .toast {
        max-width: 250px;
    }
}
