/*-- Global Variable Declarations--*/
:root {
    /*-- Fonts--*/
        --logofont: "Teko", sans-serif;
        --titlefont: "Titillium Web", sans-serif;
        --bodyfont: "Montserrat", sans-serif;
    /*-- Colour Palette--*/
        --background-lvl0: #121212;
        --background-lvl1: #1F1F1F;
        --background-lvl2: #292929;
        --yellow: #FDDE86;
        --green: #BEE788;
        --pink: #FD8E86;
        --blue: #62D7E4;
        --white: #FFFFFF;
    }
    
/*-- HTML--*/
html {
    font-size: 62.5%;
}
    
/*-- Body--*/
body {
    font-family: var(--bodyfont);
    color: var(--white);
    font-size: 1.6rem;
    min-height: 100vh;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
            rgba(18, 18, 18, 1.0), 
            rgba(18, 18, 18, 0.3)
        ),
        /* bottom, image */
        url('/media/pexels-juan-pablo-serrano-arenas-894695.jpg') no-repeat center fixed;    
    background-size: cover;
    background-color: var(--background-lvl0);
}

/*-- Logo--*/
.logo-text {
    font-family: var(--logofont);
    font-size: 6.0rem;
}

.logo-image {
    width: 35px;
}

/*-- Tagline--*/
.tagline-text {
    font-family: var(--titlefont);
    font-weight: bold;
    font-size: 1.6rem;
}
    
/*-- Custom Utility Classes--*/
/*-- Black Background, level 0 --*/
.bg-black-0 {
    background-color: var(--background-lvl0);
}

/*-- Black Background, level 1 --*/
.bg-black-1 {
    background-color: var(--background-lvl1);
}

/*-- Black Background, level 2 --*/
.bg-black-2 {
    background-color: var(--background-lvl2);
}

/*-- Media Queries --*/
@media (max-width: 350px) {
    .logo-text {
        font-size: 5.0rem;
    }
    .logo-image {
        width: 30px;
    }
}