/*-- Products Custom CSS --*/

/*-- Product Containers --*/
.product-container,
.product-detail-container {
    background-color: rgba(41, 41, 41, 0.6);
    border: 2px solid rgba(250, 250, 250, 0.6);
}

.image-padding {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}

.product-container:hover {
    background-color: rgba(41, 41, 41, 0.8);
    border: 2px solid var(--green);
}

/*-- Product Text --*/
.product-text {
    font-family: var(--titlefont);
    font-weight: 600;
    font-size: 1.5rem;
}

.product-text-lg {
    font-family: var(--titlefont);
    font-weight: 600;
    font-size: 1.8rem;
}

.product-rating-text {
    font-size: 1.3rem;
}

.product-offers-text {
    font-family: var(--titlefont);
    font-weight: 600;
    font-size: 1.4rem;
}

.product-detail-title-text,
.price-text {
    font-size: 1.4rem;
    font-weight: 600;
}

.product-detail-text {
    font-size: 1.4rem;
}

.table-dark th,
.table-dark td {
    background-color: rgba(41, 41, 41, 0.0);
}

.table-dark .th {
    white-space: nowrap
}

/*-- Product Information Icons --*/
.product-detail-title-text i {
    color: var(--green);
}

.product-detail-title-text i:hover {
    color: var(--greenhighlight);
}

/*-- Product Quantity Input --*/
.product-quantity-input {
    border: 2px solid rgba(250, 250, 250, 0.5);
    background-color: var(--background-lvl3);
    color: var(--white);
    font-weight: 600;
    max-width: 5rem;
}

/*-- Product Quantity Input Disabled Stlying --*/
.product-quantity-input[readonly] {
    background-color: var(--background-lvl3);
}

/*-- Modals --*/
.modal-content {
    border: var(--white) 1px solid;
}

.modal-header h5 {
    font-size: 1.4rem;
    font-weight: 600;
}

.modal-body p {
    font-size: 1.4rem;
}

.btn-close {
    color: var(--green);
}
