<!-- Confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalTitle" aria-hidden="true">
    <div id="confirmModalSize" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-black-3">
                <h5 id="confirmModalTitle" class="modal-title">Modal Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div id="confirmModalContent" class="modal-body bg-black-3"></div>
            <div class="modal-footer bg-black-3">
                <button type="button" class="btn btn-lg btn-outline-light btn-outline-green rounded-pill"
                    data-bs-dismiss="modal">Close
                </button>
                <a href="#" id="confirmModalConfirmed"
                    class="btn btn-lg btn-outline-light rounded-pill btn-lg btn-outline-green">Delete
                </a>
            </div>
        </div>
    </div>
</div>