{% block externalcss %}
<!-- Link to Coffee Favicon -->
<link rel="shortcut icon" href="{{ MEDIA_URL }}coffee-favicon.ico" type="image/x-icon">  
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
    crossorigin="anonymous">
<!-- Link to Google Fonts - Teko, Titillium Web and Montserrat -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Teko:wght@600&family=Titillium+Web:wght@400;600;700&display=swap" rel="stylesheet">
{% endblock %}