<!-- Information Modal -->
<div class="modal fade" id="informationModal" tabindex="-1" aria-labelledby="informationModalTitle" aria-hidden="true">
    <div id="informationModalSize" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-black-3">
                <h5 id="informationModalTitle" class="modal-title">Modal Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div id="informationModalContent" class="modal-body bg-black-3"></div>
            <div class="modal-footer bg-black-3">
                <button type="button" class="btn btn-lg btn-outline-light btn-outline-green rounded-pill"
                    data-bs-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>