{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<section id="email-confirm" class="container-sm container-custom-sm form-user py-4 px-3">
    <div class="row">
      <div class="col-12">
        <h1 class="py-2">{% trans "Confirm E-mail Address" %}</h1>
      </div>
    </div>
    {% if confirmation %}
    <div class="row">
        <div class="col-12">
            {% user_display confirmation.email_address.user as user_display %}
            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a class="form-user-link" href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pt-2">
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="btn btn-lg btn-outline-light btn-outline-green" type="submit">{% trans 'Confirm' %}</button>
            </form>  
        </div>
    </div>
    {% else %}
    {% url 'account_email' as email_url %}
    <div class="row">
        <div class="col-12">
            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a class="form-user-link" href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}
