{% load static %}
<!doctype html>
<html lang="en">
    <head>
    {% block meta %}
        <!-- Metadata -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" 
            content="perkulater - great quality, ethically sourced and expertly roasted coffee beans and ground coffee, delivered to your home.">
        <meta name="keywords" 
            content="Coffee, Coffee Beans, Ground Coffee, Coffee Subscription, Coffee Beans Delivery, Coffee Delivery">
        <meta name="author" content="Richard Ash">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Link to Coffee Favicon -->
        <link rel="shortcut icon" href="/media/coffee-favicon.ico" type="image/x-icon">  
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous">
        <!-- Link to Google Fonts - Teko, Titillium Web and Montserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Teko:wght@600&family=Titillium+Web:wght@400;600;700&display=swap" rel="stylesheet">
        <!-- Link to Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extracss %}
    {% endblock %}

    {% block corejs %}
        <!-- Link to Font Awesome Kit -->
        <script src="https://kit.fontawesome.com/7863bec69d.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>perkulater {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <!-- Bootstrap Collapsing Navbar -->
            <!-- Note - change class navbar-expand to navbar-expand-sm to collapse menu on small devices if required -->
            <nav class="navbar navbar-expand navbar-dark bg-black-1 pb-0">
                <div class="container-fluid">
                    <a class="navbar-brand logo-text px-3 pb-0" href="{% url 'home' %}">perkulater<img src="/media/coffee-cup-icon-white.png" alt="Coffee Cup Icon" class="logo-image pl-1 pb-1"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link px-1">
                                    <i class="fas fa-lg fa-shopping-basket"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown px-1">
                                <a href="" class="nav-link dropdown-toggle px-1" id="navbarUserMenu"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-lg fa-user-circle"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarUserMenu">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                            <li><a class="dropdown-item" href="#">Manage Products</a></li>
                                        {% endif %}
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>   
                                    {% else %}
                                        <li><a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a></li>
                                        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>                
                </div>
            </nav>
            <div class="col-12">
                <div class="tagline-text text-center bg-black-1 px-3 pb-1">
                    <p>Ethically sourced and expertly roasted coffee beans and ground coffee, delivered to your home</p>
                    <div class="divider-solid">
                        <hr>
                    </div>
                </div>
            </div>
        </header>
        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer class="container-sm">
            <div class="divider-opaque">
                <hr>
            </div>
            <div class="row py-3">
                <p class="tagline-text text-center">
                    perkulater is a small batch, artisan coffee roaster based in South London. 
                    We are committed to producing the highest quality coffee from the best quality beans. 
                    All of our beans are ethically sourced direct from the growers.
                </p>
            </div>
            <div class="divider-opaque">
                <hr>
            </div>
            <div class="pt-3 pb-4 text-center footer-links">
                <a href="https://en-gb.facebook.com/" aria-label="Link to perkulater facebook page" 
                    rel="noreferrer noopener" target="_blank"><i class="fab fa-facebook-square fa-2x px-2"></i></a>
                <a href="https://twitter.com/home" aria-label="Link to perkulater twitter page" 
                    rel="noreferrer noopener" target="_blank"><i class="fab fa-twitter-square fa-2x px-2"></i></a> 
                <a href="https://www.instagram.com/" aria-label="Link to perkulater instagram page" 
                    rel="noreferrer noopener" target="_blank"><i class="fab fa-instagram-square fa-2x px-2"></i></a>             
                <a href="https://github.com/richardhenyash" aria-label="Link to developer GitHub page" 
                    rel="noreferrer noopener" target="_blank"><i class="fab fa-github-square fa-2x px-2"></i></a>
            </div>
        </footer>

        {% block postloadjs %}
            <!-- JQuery JavaScript -->
            <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
            </script>
            <!--Bootstrap JavaScript -->
            <script 
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
            </script>
        {% endblock %}

        {% block extrapostloadjs %}
        {% endblock %}
    </body>
</html>