/*-- Basket Custom CSS --*/


/*-- Basket Tables --*/
.basket-table-title {
    width: 8rem;
}

.total-table-title {
    width: 11rem;
}

/*-- Media Queries--*/
@media (min-width: 768px) {
    .basket-table-title {
        width: 9rem;
    }
}
