/*-- Basket Custom CSS --*/

/*-- Basket Containers --*/
.basket-container {
    background-color: rgba(41, 41, 41, 0.6);
}

/*-- Basket Text --*/
.basket-detail-title-text {
    font-size: 1.4rem;
    font-weight: 600;
}

.basket-detail-text {
    font-size: 1.4rem;
}

/*-- Basket Tables --*/
.basket-table-title {
    width: 8rem;
}

.total-table-title {
    width: 11rem;
}

/*-- Basket Links --*/
.basket-link {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--green);
    text-decoration: None;
    text-align: right;
}

.basket-link:hover {
    color: var(--greenhighlight);
    cursor: pointer;
}

/*-- Media Queries--*/
@media (min-width: 768px) {
    .basket-table-title {
        width: 9rem;
    }
}

@media (max-width: 370px) {
    .basket-table-title {
        width: 7rem;
    }
    .basket-detail-quantity-title-text {
        padding-top: 1.7rem!important
    }
    .basket-detail-title-text {
        font-size: 1.2rem;
    }
    .basket-detail-text {
        font-size: 1.2rem;
    }
    .basket-link {
        font-size: 1.0rem;
    }
}
