{% extends "base.html" %}
{% load static %}

{% block extracss %}
<!-- Link to Products Custom CSS -->
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Edit Prices Section -->
<section id="price-edit" class="container-sm container-custom-sm pt-2">
    <div class="row py-4">
        <div class="col-12 container-dark pt-4 px-3">
            <!-- Title -->
            <div class="row">
                <div class="col-12">
                    <h6 class="title-text-large text-center pt-2">Edit Price</h6>
                </div>
                <!-- Divider -->
                <div class="divider-opaque">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 px-3 px-md-4">
                    <!-- Edit Prices Form -->
                    <form class="form-user" action="{% url 'edit_prices' product.id %}" method="POST" id="price-edit-form">
                        {% csrf_token %}
                        <!-- Price -->
                        <fieldset class="pt-2" id="price-details">
                            <!-- Product Name -->
                            <legend class="field-label">{{product.friendly_name}}</legend>
                            <!-- Price Form -->
                            {{ price_form | crispy }}
                        </fieldset>
                        <!-- Navigation Buttons -->
                        <div class="row pt-3">
                            <!-- Back To Product -->
                            <div class="col-6 pb-4">
                                <div class="text-center py-2">
                                    <a href="{% url 'product_detail' product.id %}"
                                        class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                        Back To Product
                                    </a>
                                </div>
                            </div>
                            <!-- Update Price -->
                            <div class="col-6 pb-4">
                                <div class="text-center py-2">
                                    <button id="product-add-submit-button" type="submit"
                                        class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-100">
                                        Update Price
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>                  
                </div> 
            </div>
        </div>
    </div>
    <!-- Product Price Dictionary -->
    {{ product_price_dict|json_script:"product-price-dict" }}
</section>
{% endblock %}

{% block extrapostloadjs %}
<!-- Link to Products JavaScript -->
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}
