{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <!-- Link to Products Custom CSS -->
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
{% include 'products/includes/product_offers.html' %}

<section id="product-detail" class="container-sm">
    <div class="row py-3">
        <div class="col-sm-12 col-md-6 p-3">
            <div class="product-container">
                <a href="" data-bs-toggle="modal" data-bs-target="#productDetailModal">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-100">
                </a>
            </div>
            <h6 class="product-text-lg text-center pt-2">{{ product.name }}</h6>
            <h6 class="product-text text-center pt-2">{{ coffee_detail.flavour_profile }}</h6>
        </div>
        <div class="col-sm-6 col-md-6 p-3">
            <div class="product-detail-container p-3">
                <table>
                    <tr>
                        <td class="product-detail-title-text px-3">Country</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.country }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Farm</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.farm }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Owner</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.owner }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Variety</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.variety }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Altitude</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.altitude }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Town</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.town }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Region</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.region }}</td>
                    </tr>
                </table>
                <div class="text-center pt-3">
                    <button type="button" class="btn btn-outline-light rounded-pill btn-lg btn-outline-green"
                        data-bs-toggle="modal" data-bs-target="#productDetailModal">
                        More Information
                    </button>
                </div>
            </div>
            <div class="p-3"></div>
            <div class="product-detail-container p-3">
                <div class="row">
                    <div class="col-2">
                        <div class="row py-3 my-1">
                            <div class="col">
                                <p class="product-detail-title-text">Size</p>
                            </div>
                        </div>
                        <div class="row py-3 my-1">
                            <div class="col">
                                <p class="product-detail-title-text">Grind</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row py-3">
                            <div class="col">
                                <div id="product-size" class="col-12 btn-group" role="group" aria-label="Basic example">
                                    {% for product_size in product_sizes %}
                                        <button type="button" class="btn btn-outline-light rounded-pill btn-lg btn-outline-green mx-2">{{product_size}}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row py-3">
                                <div id="product-type" class="col-12 btn-group" role="group" aria-label="Basic example">
                                    {% for product_type in product_types %}
                                        <button type="button" class="btn btn-outline-light rounded-pill btn-lg btn-outline-green mx-2">{{product_type}}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <br>
                {% for prices in product_prices %}
                {{ prices.price }}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Product Detail Modal -->
    <div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-black-3">
                    <h5 class="modal-title" id="productDetailModalLabel">{{product.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-black-3">
                    {% for description_p in product.get_description_array %}
                        <p>{{ description_p }}</p>
                    {% endfor %}
                </div>
                <div class="modal-footer bg-black-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}