{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid container-tagline bg-green">
        <div class="row pt-3">
            <h5 class="tagline-text text-center fg-black-2">
                Free UK delivery on all plans     
                |   Free UK delivery on orders over £30  
                |   Add a review to get free delivery on your next order 
            <h5>
        </div>
    </div>
    <div class="container-sm pt-2">
        {{ product }}
        {{ product_sizes }}
        {{ product_types }}
        {% for prices in product_prices %}
            {{ prices.price }}
        {% endfor %}
        {{ coffee_detail.country }}
        {{ coffee_detail.farm }}
        {{ coffee_detail.owner }}
        {{ coffee_detail.variety }}
        {{ coffee_detail.altitude }}
        {{ coffee_detail.town }}
        {{ coffee_detail.region }}
        {{ coffee_detail.flavour_profile }}
    </div>        
{% endblock %}