{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <!-- Link to Products Custom CSS -->
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
{% include 'products/includes/product_offers.html' %}

<section id="product-detail" class="container-sm">
    <div class="row py-3">
        <div class="col-sm-12 col-md-6 p-3">
            <div class="product-container">
                <a href="" data-bs-toggle="modal" data-bs-target="#productDetailModal">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-100">
                </a>
            </div>
            <h6 class="product-text-lg text-center pt-2">{{ product.name }}</h6>
            <h6 class="product-text text-center pt-2">{{ coffee_detail.flavour_profile }}</h6>
        </div>
        <div class="col-sm-6 col-md-6 p-3">
            <div class="product-detail-container p-3">
                <table>
                    <tr>
                        <td class="product-detail-title-text px-3">Country</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.country }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Farm</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.farm }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Owner</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.owner }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Variety</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.variety }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Altitude</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.altitude }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Town</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.town }}</td>
                    </tr>
                    <tr>
                        <td class="product-detail-title-text px-3">Region</td>
                        <td class="product-detail-text px-3">{{ coffee_detail.region }}</td>
                    </tr>
                </table>
                <div class="text-center pt-3">
                    <button type="button" class="btn btn-outline-light rounded-pill btn-lg btn-outline-green"
                        data-bs-toggle="modal" data-bs-target="#productDetailModal">
                        More Information
                    </button>
                </div>
            </div>
            <div class="p-3"></div>
            <form class="product-detail-container">
                <div class="form-row">
                    <div id="product-size-selector" class="input-group col-12 p-3 pt-3">
                        <div class="col-4 col-md-3 pt-3">
                            <p>{{ category }}</p>
                            <p class="product-detail-title-text mt-2 px-4">{{ product_category.size_description }}
                                <a href="" data-bs-toggle="modal" data-bs-target="#sizeInformationModal">
                                    <i class="fas fa-lg fa-info-circle px-1"></i>
                                </a>
                            </p>
                        </div>
                        <div class="col-8 col-md-9 pt-3">
                            <select class="custom-select btn btn-lg btn-outline-light btn-outline-green rounded-pill text-left"
                                required>
                                {% for product_size in product_sizes %}
                                    <option value="{{ product_size }}">{{ product_size.size }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div id="product-type-selector" class="input-group col-12 p-3">
                        <div class="col-4 col-md-3">
                            <p class="product-detail-title-text mt-2 px-4">{{ product_category.type_description }}
                                <a href="" data-bs-toggle="modal" data-bs-target="#typeInformationModal">
                                    <i class="fas fa-lg fa-info-circle px-1"></i>
                                </a>
                            </p>
                        </div>
                        <div class="col-8 col-md-9">
                            <select class="custom-select btn btn-lg btn-outline-light btn-outline-green rounded-pill text-left"
                                required>
                                {% for product_type in product_types %}
                                    <option value="{{ product_type }}">{{ product_type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row p-3">
                        <div class="col-6">
                            <button type="submit" class="btn btn-outline-light btn-xl btn-outline-green rounded-pill px-2 w-100">
                                Add To Basket
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-light btn-xl btn-outline-green rounded-pill px-2 w-100">
                                Create Plan
                            </button>
                        </div>
                    </div>
                </div>
            <form>
               <br>
                {% for prices in product_prices %}
                {{ prices.price }}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Product Detail Modal -->
    <div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-black-3">
                    <h5 class="modal-title" id="productDetailModalLabel">{{product.name}}</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-black-4">
                    {% for description_p in product.get_description_array %}
                        <p>{{ description_p }}</p>
                    {% endfor %}
                </div>
                <div class="modal-footer bg-black-4">
                    <button type="button" class="btn btn-lg btn-outline-light btn-outline-green rounded-pill" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Size Information Modal -->
    <div class="modal fade" id="sizeInformationModal" tabindex="-1" aria-labelledby="sizeInformationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-black-3">
                    <h5 class="modal-title" id="sizeInformationModalLabel">{{ product_category.size_description }}</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-black-3">
                    {% for information_p in product_category.get_size_information_array %}
                    <p>{{ information_p }}</p>
                    {% endfor %}
                </div>
                <div class="modal-footer bg-black-3">
                    <button type="button" class="btn btn-lg btn-outline-light btn-outline-green rounded-pill" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Type Information Modal -->
    <div class="modal fade" id="typeInformationModal" tabindex="-1" aria-labelledby="typeInformationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-black-3">
                    <h5 class="modal-title" id="typeInformationModalLabel">{{ product_category.type_description }}</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-black-4">
                    {% for information_p in product_category.get_type_information_array %}
                    <p>{{ information_p }}</p>
                    {% endfor %}
                </div>
                <div class="modal-footer bg-black-4">
                    <button type="button" class="btn btn-lg btn-outline-light btn-outline-green rounded-pill" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}