{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <!-- Link to Products Custom CSS -->
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
{% include 'products/includes/product_offers.html' %}
{% include 'products/includes/product_summary.html' %}
{% endblock %}

{% block extrapostloadjs %}
    <!-- Link to Products JavaScript -->
    <script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}
