<div class="toast-container">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
        <div class="toast-header toast-success bg-black-3">
            <i class="fas fa-square fa-xl me-2"></i>
            <h5 class="pt-1 me-auto">Success</h5>
            <button type="button" class="toast-close btn-close btn-lg btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-black-4">
            <div class="row">
                <div class="col">                    
                    <p>{{ message }}</p>
                </div>
            </div>
            {% if basket_items %}
                <div class="row">
                    <div class="divider-opaque">
                        <hr>
                    </div>
                </div>
                <div class="max-vh-50 basket-notification-container">
                    {% for basket_item in basket_items %}
                        <div class="row">
                            <div class="col-12">
                                <p class="basket-detail-title-text text-center">{{ basket_item.product.name }}</p>
                            </div>
                            <div class="basket-image-container col-4 col-md-3 px-4 pt-1">
                                <div class="product-detail-container">
                                    <div class="image-container">
                                        <img src="{{ basket_item.product.image.url }}" alt="{{ basket_item.product.name }}" class="w-100 p-1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-md-9">
                                <table class="table table-dark table-borderless">
                                    <thead>
                                        <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="basket-detail-quantity-title-text basket-detail-title-text basket-table-title pt-0 px-2 pb-1">Quantity</td>
                                        <td class="basket-detail-text pt-0 pb-1">{{ basket_item.product_quantity }}</td>                                     
                                    </tr>
                                    <tr>
                                        <td class="basket-detail-title-text basket-table-title px-2 pt-0 pb-1">{{ basket_item.product_category.size_description }}</td>
                                        <td class="basket-detail-text pt-0 pb-1">{{ basket_item.product_size.size }}</td>
                                    </tr>
                                    <tr>
                                        <td class="basket-detail-title-text basket-table-title px-2 pt-0 pb-1">{{ basket_item.product_category.type_description }}</td>
                                        <td class="basket-detail-text pt-0 pb-1">{{ basket_item.product_type.type }}</td>
                                    </tr>
                                    <tr>
                                        <td class="basket-detail-title-text basket-table-title px-2 pt-0 pb-1">Subtotal</td>
                                        <td class="basket-detail-title-text pt-0 pb-1">£{{ basket_item.line_item_price }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>                
                    {% endfor %}
                </div>            
                <div class="row">
                    <div class="divider-opaque">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-dark table-borderless">
                            <tr>
                                <td class="basket-detail-title-text total-table-title px-2 pt-3 pb-1">Total</td>
                                <td class="basket-detail-title-text pt-3 pb-1">£{{ total }}</td>
                            </tr>
                            <tr>
                                <td class="basket-detail-title-text total-table-title px-2 pt-0 pb-1">Delivery</td>
                                {% if delivery > 0 %}
                                    <td class="basket-detail-title-text pt-0 pb-1">£{{ delivery }}</td>
                                {% else %}
                                    <td class="basket-detail-title-text pt-0 pb-1">Free!</td>
                                {% endif %}
                            </tr>                                
                            <tr>
                                <td class="basket-detail-title-text total-table-title px-2 pt-0 pb-1">Grand Total</td>
                                <td class="basket-detail-title-text pt-0 pb-1">£{{ grand_total }}</td>
                            </tr>
                        </table>
                        {% if delivery > 0 %}
                            <p class="basket-detail-title-text px-2 pt-0 pb-1">Spend another <span>£{{ free_delivery_delta }}</span> to qualify for free UK delivery!</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>