<div class="toast-container">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header toast-success bg-black-3">
            <i class="fas fa-square fa-xl me-2"></i>
            <h5 class="pt-1 me-auto">Success</h5>
            <button type="button" class="btn-close btn-lg btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-black-4 text-medium">
            <div class="row">
                <div class="col">                    
                    <p class="text-medium mb-0">{{ message }}</p>
                </div>
            </div>
            {% if basket_items %}
                <div class="row">
                    <div class="divider-opaque">
                        <hr>
                    </div>
                </div>
                <div class="max-vh-50 basket-notification-container">
                    {% for basket_item in basket_items %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card bg-black-3">
                                    <div class="card-body">
                                        <h6 class="card-title text-center text-medium text-bold">{{ basket_item.product.name }}</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-4 p-3">
                                                <div class="product-detail-container">
                                                    <img src="{{ basket_item.product.image.url }}" alt="{{ basket_item.product.name }}" class="w-100 p-1">                            
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <table class="table table-dark table-borderless text-medium">
                                                    <tr>
                                                        <th scope="col"></th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-bold basket-table-title px-2 py-0">Quantity</td>
                                                        <td class="py-0 pb-0">{{ basket_item.product_quantity }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="px-2 py-0 text-bold">{{ basket_item.product_category.size_description }}</td>
                                                        <td class="px-2 py-0">{{ basket_item.product_size.size }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="px-2 py-0 text-bold">{{ basket_item.product_category.type_description }}</td>
                                                        <td class="px-2 py-0">{{ basket_item.product_type.type }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="px-2 py-3 text-bold">Subtotal</td>
                                                        <td class="px-2 py-3 text-bold">£{{ basket_item.line_item_price }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>            
                <div class="row">
                    <div class="divider-opaque">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-dark table-borderless text-medium">
                            <tr>
                                <td class="text-bold total-table-title px-2 pt-3 pb-1">Total</td>
                                <td class="pt-3 pb-1">£{{ total }}</td>
                            </tr>
                            <tr>
                                <td class="text-bold total-table-title px-2 pt-0 pb-1">Delivery</td>
                                {% if delivery > 0 %}
                                    <td class="pt-0 pb-1">£{{ delivery }}</td>
                                {% else %}
                                    <td class="pt-0 pb-1">Free!</td>
                                {% endif %}
                            </tr>                                
                            <tr>
                                <td class="text-bold total-table-title p-2">Grand Total</td>
                                <td class="text-bold p-2">£{{ grand_total }}</td>
                            </tr>
                        </table>                        
                        {% if delivery > 0 %}
                            <p class="text-medium fg-blue px-2 pt-0 pb-1">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                Spend another 
                                <span>£{{ free_delivery_delta }}</span> 
                                to qualify for free UK delivery!
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-12 pb-2">
                        <div class="text-center">
                            <a href="{% url 'view_basket' %}"
                                class="btn btn-outline-light btn-lg btn-outline-green rounded-pill px-2 w-50">
                                <i class="fas fa-shopping-basket px-1"></i>
                                View Basket
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>