<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header toast-success bg-black-3">
            <i class="fas fa-square fa-xl me-2"></i>
            <h5 class="pt-1 me-auto">Success</h5>
            <button type="button" class="toast-close btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-black-4">
            <p>{{ message }}</p>
        </div>
    </div>
</div>