<!-- Warning Toast -->
<div class="toast-container">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <!-- Toast Header -->
        <div class="toast-header toast-warning bg-black-3">
            <i class="fas fa-square fa-xl me-2"></i>
            <h5 class="pt-1 me-auto">Warning</h5>
            <button type="button" class="toast-close btn-close btn-lg btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <!-- Toast Body -->
        <div class="toast-body bg-black-3 text-medium">
            <!-- Message -->
            <p class="mb-0">{{ message }}</p>
        </div>
    </div>
</div>